body {
  background-image: url("https://wallpapers.com/images/featured/math-zarpq292tmb3whun.jpg");
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.form-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.app {
  text-align: center;
}
h1 {
  color: #61dafb;
}

.burst-increase {
  animation: burst-increase 0.5s ease-out;
}

.burst-decrease {
  animation: burst-decrease 0.5s ease-out;
}

@keyframes burst-increase {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes burst-decrease {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.reset-button {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #d32f2f;
}

.reset-button.clicked-reset {
  animation: shake-reset 0.5s ease-in-out;
}

@keyframes shake-reset {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
